<nav style="background-color: royalblue" class="docs-navbar-header" aria-label="Top Toolbar">
  <a *ngIf="!isCheckLogin" mat-button class="docs-button" routerLink="register" aria-label="Angular Material">
    <mat-icon color="accent">manage_accounts</mat-icon>
    <span>Register</span>
  </a>
  <a *ngIf="!isCheckLogin" mat-button class="docs-button" routerLink="login" aria-label="Angular Material">
    <mat-icon color="accent">login</mat-icon>
    <span>Login</span>
  </a>
  <a *ngIf="isCheckLogin" mat-button class="docs-button" routerLink="user-account" aria-label="Angular Material">
    <mat-icon color="accent">favorite</mat-icon>
    <span>{{name}}</span>
  </a>
  <a *ngIf="isCheckLogin" mat-button class="docs-button" routerLink="logout" aria-label="Angular Material">
    <mat-icon color="accent">logout</mat-icon>
    <span>Logout</span>
  </a>

  <div class="flex-spacer"></div>
  <img routerLink="change-avatar" class="image" *ngIf="isCheckLogin" [src]="avatar">
  <app-theme-picker></app-theme-picker>
</nav>
